In [120]:
#MERGING DATA SETS 

#Creating a new dataset games 



import pandas as pd 

games = {
    "date": ['1872-11-30' , '1914-02-28' , '1946-11-27' , '1963-05-08'],
    "home_team": ["Scotland","Scotland","Scotland","Scotland"],
    "away_team" : ['England' , 'Wales' , 'North ireland' , 'Spain'],
    "scores_id" : ["0", "3", "1", "2"],

}

games = pd.DataFrame(games)

print(games)

         date home_team      away_team scores_id
0  1872-11-30  Scotland        England         0
1  1914-02-28  Scotland          Wales         3
2  1946-11-27  Scotland  North ireland         1
3  1963-05-08  Scotland          Spain         2

In [121]:
#Creating a sub set or another dataset scores for the actual scores 

scores = {
    "id" : ['0', '1' , '2' , '3'],
    "home_score" : ["0", "2", "3", "4"],
    "away_score" : ["0", "1", "0", "0"]

}

scores = pd.DataFrame(scores)

print(scores)

  id home_score away_score
0  0          0          0
1  1          2          1
2  2          3          0
3  3          4          0

In [122]:
#INNER MERGES 
# only merge columns with similar categories 

x = {
    "category" : ['A', 'B'],
    "value" : [ 1 , 2 ],
    }

y = {
    "category" : ['B' , 'C'],
    "value" : [3 , 4]
}


x = pd.DataFrame(x)
y = pd.DataFrame(y)

merge = pd.merge(left=x,
                 right=y,
                 left_on='category',
                 right_on='category',
                 how= 'inner'
                 )


print(merge)

# similar category is B from X and Y

  category  value_x  value_y
0        B        2        3

In [123]:
#MULTIPLE MATCHES  (when there are multiple matches in one dataframe)

x = {
    "category" : ['A', 'B' , 'B'],
    "value" : [ 1 , 2 , 5],
    }

y = {
    "category" : ['B' , 'C'],
    "value" : [3 , 4]
}


x = pd.DataFrame(x)
y = pd.DataFrame(y)

merge = pd.merge(left=x,
                 right=y,
                 left_on='category',
                 right_on='category',
                 how= 'inner'
                 )


print(merge)

# 3 was repeated for value_y because there was only one in y

  category  value_x  value_y
0        B        2        3
1        B        5        3

In [124]:
# Using games and scores dataframes 

merge2 = pd.merge(left=games,
                 right=scores,
                 left_on='scores_id',
                 right_on='id',
                 how= 'inner'
                 )


print(merge2)


# Gives you the full results

         date home_team      away_team scores_id id home_score away_score
0  1872-11-30  Scotland        England         0  0          0          0
1  1914-02-28  Scotland          Wales         3  3          4          0
2  1946-11-27  Scotland  North ireland         1  1          2          1
3  1963-05-08  Scotland          Spain         2  2          3          0

In [125]:
#LEFT MERGES 
# Using X and Y dataframes 

merge3 = pd.merge(left=x,
                 right=y,
                 left_on='category',
                 right_on='category',
                 how= 'left'   #for left merge 
                 )


print(merge3)

# 3.0 because of the NaN which is not an integer value so pandas converts the whole column to a float

  category  value_x  value_y
0        A        1      NaN
1        B        2      3.0
2        B        5      3.0

In [126]:
#RIGHT MERGES 
# Same as left but uses the categories from the right for the merge 

merge4 = pd.merge(left=x,
                 right=y,
                 left_on='category',
                 right_on='category',
                 how= 'right'   #for right merge 
                 )


print(merge4)

  category  value_x  value_y
0        B      2.0        3
1        B      5.0        3
2        C      NaN        4

In [127]:
#OUTER MERGE 
# does for both sides ...uses the category of both sides 
#Example using X and Y 

merge5 = pd.merge(left=x,
                 right=y,
                 left_on='category',
                 right_on='category',
                 how= 'outer'   #for outer merge 
                 )


print(merge5)

# calls out all the categories

  category  value_x  value_y
0        A      1.0      NaN
1        B      2.0      3.0
2        B      5.0      3.0
3        C      NaN      4.0

In [128]:
#MULTIPLE COLUMNS 
# Basically choosing each columns from dataframe A i want to merge to dataframe B columns and also C columns 
# Still using games and scores dataframes

#Creating new dataframe shootouts


shootouts = {
    "date": ['1967-08-22' , '1971-11-14' , '1972-05-07' , '1972-05-17'],
    "home_team": ["India","South Korea","South Korea","Thailand"],
    "away_team" : ['Taiwan' , 'Vietnam Republic' , 'Iraq' , 'Iraq'],
    "winner" : ["taiwan", "South Korea", "Iraq", "South Korea"],

}

shootouts = pd.DataFrame(shootouts)

print(shootouts)

         date    home_team         away_team       winner
0  1967-08-22        India            Taiwan       taiwan
1  1971-11-14  South Korea  Vietnam Republic  South Korea
2  1972-05-07  South Korea              Iraq         Iraq
3  1972-05-17     Thailand              Iraq  South Korea

In [ ]:
#Merging them 

merge6 = pd.merge(
    left=games,
    right=shootouts,
    left_on=['date', 'home_team'],     # home team from games
    right_on=['date', 'away_team'],    # away team from shootouts
    how='outer'
)

#merging (home team vs away team) 


print(merge6)

         date home_team_x    away_team_x scores_id  home_team_y  \
0  1872-11-30    Scotland        England         0          NaN
1  1914-02-28    Scotland          Wales         3          NaN
2  1946-11-27    Scotland  North ireland         1          NaN
3  1963-05-08    Scotland          Spain         2          NaN
4  1967-08-22         NaN            NaN       NaN        India
5  1971-11-14         NaN            NaN       NaN  South Korea
6  1972-05-07         NaN            NaN       NaN  South Korea
7  1972-05-17         NaN            NaN       NaN     Thailand

        away_team_y       winner
0               NaN          NaN
1               NaN          NaN
2               NaN          NaN
3               NaN          NaN
4            Taiwan       taiwan
5  Vietnam Republic  South Korea
6              Iraq         Iraq
7              Iraq  South Korea

In [ ]:
#CHOOSING THE RIGHT MERGE METHOD 

# to inspect a dataframe thoroughly it is better to use LEFT , RIGHT & OUTER MERGE