In [7]:
#MERGING DATA SETS 

#Creating a new dataset games 



import pandas as pd 

games = {
    "data": ['1872-11-30' , '1914-02-28' , '1946-11-27' , '1963-05-08'],
    "home_team": ["Scotland","Scotland","Scotland","Scotland"],
    "away_team" : ['England' , 'Wales' , 'North ireland' , 'Spain'],
    "scores_id" : ["0", "3", "1", "2"],

}

games = pd.DataFrame(games)

print(games)

         data home_team      away_team scores_id
0  1872-11-30  Scotland        England         0
1  1914-02-28  Scotland          Wales         3
2  1946-11-27  Scotland  North ireland         1
3  1963-05-08  Scotland          Spain         2

In [8]:
#Creating a sub set or another dataset scores for the actual scores 

scores = {
    "id" : ['0', '1' , '2' , '3'],
    "home_score" : ["0", "2", "3", "4"],
    "away_score" : ["0", "1", "0", "0"]

}

scores = pd.DataFrame(scores)

print(scores)

  id home_score away_score
0  0          0          0
1  1          2          1
2  2          3          0
3  3          4          0

In [9]:
#INNER MERGES 
# only merge columns with similar categories 

x = {
    "category" : ['A', 'B'],
    "value" : [ 1 , 2 ],
    }

y = {
    "category" : ['B' , 'C'],
    "value" : [3 , 4]
}


x = pd.DataFrame(x)
y = pd.DataFrame(y)

merge = pd.merge(left=x,
                 right=y,
                 left_on='category',
                 right_on='category',
                 how= 'inner'
                 )


print(merge)

# similar category is B from X and Y

  category  value_x  value_y
0        B        2        3

In [10]:
#MULTIPLE MATCHES  (when there are multiple matches in one dataframe)

x = {
    "category" : ['A', 'B' , 'B'],
    "value" : [ 1 , 2 , 5],
    }

y = {
    "category" : ['B' , 'C'],
    "value" : [3 , 4]
}


x = pd.DataFrame(x)
y = pd.DataFrame(y)

merge = pd.merge(left=x,
                 right=y,
                 left_on='category',
                 right_on='category',
                 how= 'inner'
                 )


print(merge)

# 3 was repeated for value_y because there was only one in y

  category  value_x  value_y
0        B        2        3
1        B        5        3

In [11]:
# Using games and scores dataframes 

merge2 = pd.merge(left=games,
                 right=scores,
                 left_on='scores_id',
                 right_on='id',
                 how= 'inner'
                 )


print(merge2)


# Gives you the full results

         data home_team      away_team scores_id id home_score away_score
0  1872-11-30  Scotland        England         0  0          0          0
1  1914-02-28  Scotland          Wales         3  3          4          0
2  1946-11-27  Scotland  North ireland         1  1          2          1
3  1963-05-08  Scotland          Spain         2  2          3          0

In [12]:
#LEFT MERGES 
# Using X and Y dataframes 

merge3 = pd.merge(left=x,
                 right=y,
                 left_on='category',
                 right_on='category',
                 how= 'left'   #for left merge 
                 )


print(merge3)

# 3.0 because of the NaN which is not an integer value so pandas converts the whole column to a float

  category  value_x  value_y
0        A        1      NaN
1        B        2      3.0
2        B        5      3.0

In [13]:
#RIGHT MERGES 
# Same as left but uses the categories from the right for the merge 

merge4 = pd.merge(left=x,
                 right=y,
                 left_on='category',
                 right_on='category',
                 how= 'right'   #for right merge 
                 )


print(merge4)

  category  value_x  value_y
0        B      2.0        3
1        B      5.0        3
2        C      NaN        4

In [ ]:
#OUTER MERGE 
# does for both sides ...uses the category of both sides 
#Example using X and Y 

merge5 = pd.merge(left=x,
                 right=y,
                 left_on='category',
                 right_on='category',
                 how= 'outer'   #for outer merge 
                 )


print(merge5)

# calls out all the categories

  category  value_x  value_y
0        A      1.0      NaN
1        B      2.0      3.0
2        B      5.0      3.0
3        C      NaN      4.0